__pycache__/
.ipynb_checkpoints/
.venv/
.env
*.pyc
*.pkl
*.joblib
*.h5
*.pt
mlruns/
data/
models/
src/models/mlflow.db
src/models/mlruns
!src/models/train_model.py
!src/models/evaluate_model.py
!src/data/
/metrics.json
mlflow.db
models/random_forest/Production/model.pkl



