__pycache__/
.ipynb_checkpoints/
.venv/
.env
*.pyc
*.pkl
*.joblib
*.h5
*.pt
mlruns/
# Ignore all data files
data/**

# Re-allow directories
!data/
!data/**/

# Track DVC metadata
!data/**/*.dvc
!data/**/*.yaml

src/models/mlflow.db
src/models/mlruns
!src/models/train_model.py
!src/models/evaluate_model.py
!src/data/
/metrics.json
mlflow.db
models/random_forest/Production/model.pkl



